body {
  font-family: sans-serif;
  text-align: center;
  background-color: #111;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie img {
  width: 200px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.movie img:hover {
  transform: scale(1.05);
}

#info-box {
  background: rgba(0, 0, 0, 0.95);
  border: 2px solid #555;
  padding: 20px;
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: relative;
}

#info-box span {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
}

.hidden {
  display: none;
}
.poster:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.poster:hover {
  transform: scale(1.05);         /* Aumenta o tamanho em 5% */
  transition: transform 0.3s;     /* Faz isso de forma suave em 0.3 segundos */
}

